body {
	height: 100%;
    max-height: 100%;
    font-family: 微软雅黑, Verdana, sans-serif, 宋体;
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #3A4145;
}
html, body {
    height: 100%;
}

#wrap .col-md-3, #wrap .col-md-9{
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#wrap.side-close .col-md-3{
    margin-left:-25%;
}
#wrap.side-close .col-md-9{
    width:100%;
    padding-left:30px;
}
.side-header, .main-header{
	height: 68px;
}
.side-header{
    background:#4f827c;
}
.side-body{
    background:#f2f2f2;
}
.side-body .ctrl{
    padding:30px;
    text-align:center;
}
.side-body .ctrl .btn{
    padding:5px 15px;
}
.main-header{
    background:#7fbfae;
    margin-left: -30px;
    padding-left: 30px;
}
.main-header h3{
    color:#fff;
    font-size:32px;
}
.save-ctrl {
    margin-top: 15px;
    margin-right: 15px;
    }
    
.main-editor .floatingheader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
    height: 40px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #aaa9a2;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),color-stop(25%, #fff),color-stop(100%, rgba(255,255,255,0.9)));
    background-image: -webkit-linear-gradient(top, #fff 0%,#fff 25%,rgba(255,255,255,0.9) 100%);
    background-image: linear-gradient(to bottom,#fff 0%,#fff 25%,rgba(255,255,255,0.9) 100%);
}
.entry-markdown-content, .entry-preview-content {
    padding: 55px 0 25px 0;
}
.entry-markdown-content .CodeMirror {
    background: white;
    color: #3c4043;
    color: black;
    font-family: Inconsolata,monospace;
    font-size: 1.1em;
    line-height: 1.3em;
    line-height: 1;
    overflow: hidden;
    position: relative;
}